* {
    box-sizing: border-box;
}


body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

#splash {
    background-image: url(billeder/fanart_mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
}

/*******************MENU MOBILE******************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 65px;
    font-family: roboto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 3.5vw;
    line-height: 1.6;
}

.sidenav a:hover {
    color: #BB0000;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

span {
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    padding-right: 1vw;
    padding-top: 1vw;
    color: white;
}

hr {
    opacity: 0.1;
}

/*******************MENU DESKTOP******************/

#desktop {
    background-color: black;
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1.5vw;
    font-family: roboto;
}

li {
    float: right;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    color: #BB0000;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
    display: block;
}


#liste {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    max-width: 900px;
    margin: auto;
}

.ret {
    margin: 2px;
    padding: 8px;
}

#popup {
    margin: 20rem;
    margin-left: 50rem;
    top: 0;
    width: 20vw;
    height: 40vh;
    position: fixed;
    background-color: white;
    display: none;
    overflow: scroll;
}

#luk {
    position: fixed;
    right: 29rem;
}

#luk button {
    font-size: 1rem;
    cursor: pointer;
}

#indhold {

    display: flex;
    height: 50vh;
    width: 20vw;
    margin-left: 4rem auto;
    text-align: center;
}

#indhold p,
h2,
h3 {
    text-align: center;
    margin: 10px;
}




/*****************FOOTER********************/






















/*******************MEDIAQUARIES********************/

@media only screen and (min-width: 992px) {
    .mobilemenu {
        display: none;
    }

    span {
        display: none;
    }

    #desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        float: right;
    }

    #desktop .drop-down {
        color: white;
        background-color: #776B5F;
        text-align: center;
    }

    #splash {
        background-image: url(billeder/fanart_desktop.png);
        width: 100%;
        height: 100%;
        background-size: 100%;
        position: absolute;
    }

}

@media only screen and (max-width: 900px) {

    #liste {
        max-width: 900px;
    }

    #indhold img {
        max-width: 370px;
    }
}

@media only screen and (min-width: 600px) {

    /* For tablets*/
    #liste {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ret {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 940px) {

    /* For computers */
    #liste {
        display: grid;
        padding-top: 70vw;
        grid-template-columns: repeat(3);
    }
}

.filter {
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 14px;
    padding: 8px;
    color: black;
    border: none;
}


.ret img {
    max-width: 370px;
}
